<div class="container">
  <div
    class="footer-content d-flex flex-col flex-lg-row align-items-start gap-5 pt-75 pb-75"
  >
    <div class="footer-logo logo">
      <a
        class="d-block my-0"
        href="index.html"
      >
        <img
          src="./assets/img/logo-light.png"
          alt=""
        />
      </a>
    </div>

    <div
      class="footer-links d-flex flex-col flex-lg-row justify-content-center"
    >
      <ul>
        <li><a href="/">Private Policy</a></li>
        <li><a href="/">Term and Conditions</a></li>
        <li><a href="/">Contact Us</a></li>
      </ul>

      <ul>
        <li><a href="/">About Us</a></li>
        <li><a href="/">Avisphere</a></li>
        <li><a href="/">Cookie Settings</a></li>
      </ul>

      <ul>
        <li><a href="/">Professionals & Offices</a></li>
        <li><a href="/">Global Leadership</a></li>
        <li><a href="/">Carreers</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="text-gray-800 bg-black">
  <div class="container">
    <p class="pt-25 pb-25 text-center">
      &copy; Copyright 2058, Example Corporation
    </p>
  </div>
</div>
