<div class="header--sup">
  <div class="container">
    <div
      class="d-flex flex-column flex-lg-row justify-content-between align-items-center"
    >
      <nav class="left">
        <a href="/">Properties</a>
        <a
          class="ms-4"
          href="/"
          >Office</a
        >
        <a
          class="ms-4"
          href="/"
          >Profestionals</a
        >
      </nav>

      <div class="right">
        <div class="d-flex align-items-center">
          <div class="assets d-flex align-items-center">
            <input
              type="radio"
              class="btn-check"
              name="options-outlined"
              id="vnd"
              autocomplete="off"
              checked
            />
            <label
              class="btn"
              for="vnd"
              >VND</label
            >
            <span>|</span>
            <input
              type="radio"
              class="btn-check"
              name="options-outlined"
              id="usd"
              autocomplete="off"
            />
            <label
              class="btn"
              for="usd"
              >USD</label
            >
          </div>

          <div class="switch ms-4 ps-2 d-flex align-items-center">
            <span class="text-black me-2">SQM</span>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
            </div>
            <span class="ms-2">SQF</span>
          </div>

          <div class="lang ms-4 ps-2 d-flex align-items-center">
            <img
              src="./assets/img/icon-globe.svg"
              alt=""
            />
            <span class="fw-semibold text-black ms-1">En</span>
          </div>

          <div class="acts ms-4 ps-2">
            <a
              href="/"
              class="text-black fw-semibold"
              >Login</a
            >
            <span class="text-black fw-semibold">/</span>
            <a
              href="/"
              class="text-black fw-semibold"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="logo">
  <div class="container">
    <a href="index.html">
      <img
        src="./assets/img/logo-dark.png"
        alt=""
      />
    </a>
  </div>
</div>

<div class="menu">
  <div class="overflow">
    <div class="container">
      <ul>
        <li><a href="/">ABOUT US</a></li>
        <li>
          <a
            class="active"
            href="/"
            >SERVICES</a
          >
        </li>
        <li><a href="/">INDUSTRIAL</a></li>
        <li><a href="/">COMMERCIAL</a></li>
        <li><a href="/">RETAIL</a></li>
        <li><a href="/">RESIDENTIAL</a></li>
        <li><a href="/">THOUGHT CAPITAL</a></li>
        <li><a href="/">NEWS</a></li>
        <li><a href="/">CONTACT</a></li>
        <li><a href="/">CAREERES</a></li>
      </ul>
    </div>
  </div>
</div>
