<div class="sidebar-heading d-flex align-items-center">
  <img
    src="./assets/img/icon-filter.svg"
    alt=""
  />
  <div class="fw-semibold ms-3">Filter</div>
</div>

<div class="sidebar-content">
  <form action="">
    <div class="list">
      <div class="col">
        <label>Keyword Or Property ID</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          value=""
        />
      </div>

      <div class="col">
        <label>City/Province</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>District</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>Category</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>Contract Type</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>Property Type</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>Facilities</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>Furnishing</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>Bedroom</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <label>Currency</label>
        <select class="form-select">
          <option>All</option>
        </select>
      </div>

      <div class="col">
        <div class="row">
          <div class="col">
            <label>Price From</label>
            <input
              type="text"
              class="form-control"
              placeholder=""
              value=""
            />
          </div>
          <div class="col mt-0">
            <label>Price To</label>
            <input
              type="text"
              class="form-control"
              placeholder=""
              value=""
            />
          </div>
        </div>
      </div>

      <div class="col mt-0">
        <label>Available From</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          value=""
        />
      </div>
    </div>

    <div class="act d-flex w-100 justify-content-between">
      <input
        type="reset"
        class="btn btn-outline py-3 w-100"
        value="RESET"
      />
      <input
        type="submit"
        class="btn btn-secondary py-3 w-100"
        value="SEARCH"
      />
    </div>
  </form>
</div>

<div class="sidebar-upload mt-25">
  <button
    type="submit"
    class="btn btn-secondary w-100"
  >
    Upload properties
  </button>
</div>
