<div
  class="heading d-flex flex-column justify-content-center alig align-items-center"
>
  <h2 class="fw-bold">MEET OUR TEAM</h2>
  <img
    src="./assets/img/heading-underline.svg"
    alt="Avison Young"
  />
</div>

<div class="section-body">
  <div class="bio d-flex gap-3 align-items-center">
    <div class="bio-card">
      <div class="bio-avatar">
        <img
          src="./assets/img/avatar-image-1.png"
          alt="Avison Young"
        />
      </div>
      <div class="bio-content">
        <div class="bio-content--title">Hung Vo</div>
        <div class="bio-content--sub">
          Sales Coordinator | Residential Service
        </div>
        <div class="bio-content--contact">
          <ul>
            <li>
              <img
                src="./assets/img/icon-phone-flip.svg"
                alt="Avison Young"
              />
              <a href="tel:+84343899991">+84 343 899 991</a>
            </li>
            <li>
              <img
                src="./assets/img/icon-envelope.svg"
                alt="Avison Young"
              />
              <a
                href="mailto:hung.vo@colliers.vn"
                target="_blank"
                >hung.vo@colliers.vn</a
              >
            </li>
            <li>
              <img
                src="./assets/img/icon-messages.svg"
                alt="Avison Young"
              />
              Language
              <div class="d-flex">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/1280px-Flag_of_Vietnam.svg.png"
                  alt="Avison Young"
                />
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png"
                  alt="Avison Young"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bio-card">
      <div class="bio-avatar">
        <img
          src="./assets/img/avatar-image-2.png"
          alt="Avison Young"
        />
      </div>
      <div class="bio-content">
        <div class="bio-content--title">Yen Nguyen</div>
        <div class="bio-content--sub">
          Residential Manager | Residential Service Ho Chi Minh City
        </div>
        <div class="bio-content--contact">
          <ul>
            <li>
              <img
                src="./assets/img/icon-phone-flip.svg"
                alt="Avison Young"
              />
              <a href="tel:+84913191467">+84 913 191 467</a>
            </li>
            <li>
              <img
                src="./assets/img/icon-envelope.svg"
                alt="Avison Young"
              />
              <a
                href="mailto:yen.nguyen@colliers.vn"
                target="_blank"
                >yen.nguyen@colliers.vn</a
              >
            </li>
            <li>
              <img
                src="./assets/img/icon-messages.svg"
                alt="Avison Young"
              />
              Language
              <div class="d-flex">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/1280px-Flag_of_Vietnam.svg.png"
                  alt="Avison Young"
                />
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png"
                  alt="Avison Young"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
