.font-montserrat {
  font-family: var(--font-montserrat);
}
.font-inter {
  font-family: var(--font-inter);
}

.text-gray-100 {
  color: var(--color-gray-100);
}
.text-gray-200 {
  color: var(--color-gray-200);
}
.text-gray-300 {
  color: var(--color-gray-300);
}
.text-gray-400 {
  color: var(--color-gray-400);
}
.text-gray-500 {
  color: var(--color-gray-500);
}
.text-gray-600 {
  color: var(--color-gray-600);
}
.text-gray-700 {
  color: var(--color-gray-700);
}
.text-gray-800 {
  color: var(--color-gray-800);
}
.text-sandybrown {
  color: var(--color-sandybrown);
}
.text-darkslategray {
  color: var(--color-darkslategray);
}
.text-darkslateblue {
  color: var(--color-darkslateblue);
}
.text-darkgray {
  color: var(--color-darkgray);
}
.text-lightcoral {
  color: var(--color-lightcoral);
}
.text-tomato {
  color: var(--color-tomato);
}
.text-gainsboro {
  color: var(--color-gainsboro);
}
.text-whitesmoke {
  color: var(--color-whitesmoke);
}
