footer {
  background-color: #1A1A1A;

  .footer {
    &-content {}

    &-logo {
      a {
        img {
          background-color: var(--color-black);
        }
      }
    }

    &-links {
      flex: auto;

      &.d-flex {
        gap: 84px;
      }

      ul {
        li {
          a {
            @extend .text-white;
          }

          &+li {
            margin-top: 24px;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      &-links {
        &.d-flex {
          gap: 48px;
        }
      }
    }
  }
}