@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.font {
  &-montserrat {
    font-family: var(--font-montserrat), sans-serif;
    font-style: normal;
  }

  &-inter {
    font-family: var(--font-inter), sans-serif;
    font-style: normal;
  }
}

.text {
  &-white {
    color: var(--color-white);
  }

  &-black {
    color: var(--color-black);
  }

  &-gray-100 {
    color: var(--color-gray-100);
  }

  &-gray-200 {
    color: var(--color-gray-200);
  }

  &-gray-300 {
    color: var(--color-gray-300);
  }

  &-gray-400 {
    color: var(--color-gray-400);
  }

  &-gray-500 {
    color: var(--color-gray-500);
  }

  &-gray-600 {
    color: var(--color-gray-600);
  }

  &-gray-700 {
    color: var(--color-gray-700);
  }

  &-gray-800 {
    color: var(--color-gray-800);
  }

  &-sandybrown {
    color: var(--color-sandybrown);
  }

  &-darkslategray {
    color: var(--color-darkslategray);
  }

  &-darkslateblue {
    color: var(--color-darkslateblue);
  }

  &-darkgray {
    color: var(--color-darkgray);
  }

  &-lightcoral {
    color: var(--color-lightcoral);
  }

  &-tomato {
    color: var(--color-tomato);
  }

  &-gainsboro {
    color: var(--color-gainsboro);
  }

  &-whitesmoke {
    color: var(--color-whitesmoke);
  }
}

@mixin spacing($spacing, $angle, $value) {
  #{$spacing}-#{$angle}: $value;
}

$spaces: 15, 25, 55, 75;

.m {
  &t {
    @each $space in $spaces {
      &-#{$space} {
        @include spacing(margin, top, #{$space}px);
      }
    }
  }

  &b {
    @each $space in $spaces {
      &-#{$space} {
        @include spacing(margin, bottom, #{$space}px);
      }
    }
  }
}

.p {
  &t {
    @each $space in $spaces {
      &-#{$space} {
        @include spacing(padding, top, #{$space}px);
      }
    }
  }

  &b {
    @each $space in $spaces {
      &-#{$space} {
        @include spacing(padding, bottom, #{$space}px);
      }
    }
  }
}